@using System 

<!DOCTYPE html>
<head>
    @*<link href="@($"{System.IO.Directory.GetCurrentDirectory()}/wwwroot/css/bootstrap.min.css")" rel="stylesheet" />*@
    <style>
        html,
        body {
            font-family: Nunito,"Helvetica Neue",Helvetica,Arial,sans-serif;
            box-sizing: border-box;
        }
        .outer-table {
            width: 65%;
            margin: 0 auto;
            text-align: center;
        }

        /*.invoice-table-container {
            border: solid 1px #626263;
            border-radius: 4.5px;
            text-align: center;
            margin: 1rem;
            overflow: hidden;
            width: 65%;
            margin: 0 auto;
        }*/

        .table {
            width: calc(100% + 2px);
            border-collapse: collapse;
            color: rgb(33,37,41);
            border-spacing: 2px;
        }
        .table-bordered th {
            border: solid 1px rgb(222, 226, 230);
            font-size: 20px;
            padding: .75rem;
        }
        .table-bordered td {
            border: solid 1px rgb(222, 226, 230);
            padding: .75rem;
        }

        .table-striped tbody tr:nth-child(odd) {
            background-color: rgba(0, 0, 0, 0.06);
        }
    </style>
</head>
<body>

    <table class="outer-table">
        <tbody>
            <tr>
                <td>
                    <h1>@(System.IO.Path.Combine(System.IO.Directory.GetCurrentDirectory(), @"..\Logo\Logo-text.png"))</h1>
                </td>
                </tr>
            <tr>
                <td>
                    <h2>Hi, This is text from a template @Model.Name.</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="invoice-table-container">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Student</th>
                                    <th>Date</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Sessions)
                                {
                                    <tr>
                                        <td>@($"{@item.Student.FirstName} {@item.Student.LastName}")</td>
                                        <td>@item.Date.ToShortDateString()</td>
                                        <td>@item.StartTime</td>
                                        <td>@item.EndTime</td>
                                        <td>@item.Notes</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <img src="@(System.IO.Path.Combine(System.IO.Directory.GetCurrentDirectory(), @"..\Logo\Logo-text.png"))" />
                </td>
            </tr>
        </tfoot>
    </table>
    
</body>