<style>
    .card-header {
        display: flex;
        justify-content: space-between
    }
</style>

<div class="card-header">
    <div>
        <h5>School Hours - @BarOneTotals.ToString("C")</h5>
        <h5 style="margin-bottom: 0;">After School Hours - @BarTwoTotals.ToString("C")</h5>
    </div>
    <div style="display: flex;">
        <div style="padding: .5rem;">
            <div style="display: flex; align-items: center; padding-bottom: 7px;">
                <div style="width: 12px; height: 12px; background-color: #1365fc; margin-right: 5px;"></div>
                <p style="margin: 0; line-height:1;">@BarOneTitle / @PrimaryTitle</p>
            </div>
            <div style="display: flex; align-items: center; padding-bottom: 7px;">
                <div style="width: 12px; height: 12px; background-color: #6299ff; margin-right: 5px;"></div>
                <p style="margin: 0; line-height:1;">@BarOneTitle / @SecondaryTitle</p>
            </div>
        </div>
        <div style="padding: .5rem;">
            <div style="display: flex; align-items: center; padding-bottom: 7px;">
                <div style="width: 12px; height: 12px; background-color: #298a00; margin-right: 5px;"></div>
                <p style="margin: 0; line-height:1;">@BarTwoTitle / @PrimaryTitle</p>
            </div>
            <div style="display: flex; align-items: center; padding-bottom: 7px;">
                <div style="width: 12px; height: 12px; background-color: #4dac25; margin-right: 5px;"></div>
                <p style="margin: 0; line-height:1;">@BarTwoTitle / @SecondaryTitle</p>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string BarOneTitle { get; set; } 
    [Parameter]
    public string BarTwoTitle { get; set; } 
    [Parameter]
    public string PrimaryTitle { get; set; } 
    [Parameter]
    public string SecondaryTitle { get; set; }
    [Parameter]
    public double BarOneTotals { get; set; }
    [Parameter]
    public double BarTwoTotals { get; set; }
}
